body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  /* *{
    cursor:none;
  } */

  .input-box {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
  }

  ul{
    text-align: left;
    list-style-type: none;
  }

  .carousel {
    text-align: center;
    width: 50%; /* half width */
    height: 100%; /* Full height */
  }
  /* .question {
    margin-top: 20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  } */


  .question {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* Center the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
  }

  .btn {
    padding: 12px;
    border-radius: 5px;
    border: none;
    border-width: 1px;
    font-size: 1rem;
    font-weight: 400;
    color: #f4f0ff;
    text-align: center;
    backdrop-filter: blur(10px);
    cursor: pointer;
  }
  
  .btn::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(0, 0, 0, 0.42) 100%),rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 0 12px rgba(11, 11, 12, 0.44);
    z-index: -1;
  }
  
  .btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(0, 0, 0, 0.42) 100%),rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.44);
    border-radius: .5rem;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in;
  }
  
  .btn:hover::after {
    opacity: 1;
  }

  .btn:hover:disabled:after {
    opacity: 0;
  }
  
  .button-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    z-index: -1;
  }
  
  .btn-border::before {
    content: "";
    position: absolute;
    border-radius: .5rem;
    padding: 1px;
    inset: 0;
    background: linear-gradient(180deg, rgba(6, 9, 10, 0.24) 0%, rgba(184, 238, 255, 0) 100%),linear-gradient(0deg, rgba(2, 4, 5, 0.32), rgba(0, 0, 0, 0.32));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
  }
  .btn:disabled {
    color: black; /* Set font color to black */
    background-color: white; /* Set button color to blurred white */
    border-color: transparent; /* Hide border */
  }
  
  .btn-border:disabled::before {
    display: none; /* Hide the border effect */
  }
  

  .progress-bar {
    width: 100%;
    background-color: #dddcdc;
    border-radius: 5px;
    margin-top: 20px;
  }
  .progress-bar-fill {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
  }
  .number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 200px;
    padding: 10px;
    margin: auto auto 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  /* Light mode styles */
.key, .key2, .key3 {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  color: #000; /* Text color for light mode */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* Dark mode styles */
.dark-mode .key,
.dark-mode .key2,
.dark-mode .key3 {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color for dark mode */
  border-color: #555; /* Border color for dark mode */
}

.toggle-container {
  display: inline-block;
  position: absolute;
  width: 60px;
  right: 1px;
  top: 1px;
  height: 34px;
  margin: 10px;
}
.toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Default switch color */
  transition: .4s;
  border-radius: 34px;
}
.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff; /* Switch button color */
  transition: .4s;
  border-radius: 50%;
}
input:checked + .toggle-slider {
  background-color: #2196F3; /* Toggle switch color when checked */
}
input:checked + .toggle-slider:before {
  transform: translateX(26px);
}
   
  #timefrom, #timeto{
    margin: 10px;
  }
  .checks{
    transform: scale(1.5);
    margin: 10px;
  }
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes sweat {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  #tick-mark, #tick-mark2{
    display: none;
    font-size: 40px;
    color: green;
  }

  /* .back-button {
    position: absolute; 
    top: -89px;
    left: -223px;
} */

.back-button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  border-width: 1px;
  font-size: 1rem;
  font-weight: 400;
  color: #f4f0ff;
  text-align: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.back-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(0, 0, 0, 0.42) 100%),rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 0 12px rgba(11, 11, 12, 0.44);
  z-index: -1;
}

.back-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(0, 0, 0, 0.42) 100%),rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.44);
  border-radius: .5rem;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in;
}

.back-button:hover::after {
  color: black;
  opacity: 1;
}

.back-button:hover:disabled:after {
  color: white;
  opacity: 0;
}

.button-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  z-index: -1;
}

.back-button-border::before {
  content: "";
  position: absolute;
  border-radius: .5rem;
  padding: 1px;
  inset: 0;
  background: linear-gradient(180deg, rgba(6, 9, 10, 0.24) 0%, rgba(184, 238, 255, 0) 100%),linear-gradient(0deg, rgba(2, 4, 5, 0.32), rgba(0, 0, 0, 0.32));
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.back-button:disabled {
  color: black; /* Set font color to black */
  background-color: grey ;/* Set button color to blurred white */
  border-color: transparent; /* Hide border */
}

.back-button-border:disabled::before {
  display: none; /* Hide the border effect */
}


  input[type='text']{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
  }
  input[type='password']{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
  }

  .content{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
  }
  
  .light{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }