@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
}

.warning-labels{
    display: none;
}

.display{
    margin-left: 55px;
    padding: 0px;
    width: 25%;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    /* max-width: 463px; */
    font-weight: bold;
    color: #333;
    border: 1px solid #ccc;
}


.wrapper {
    background-color: #2d4e5a;
    height: 200px;
    width: 200px;
    position: relative;
  }

  .scrollable-section {
    height: 200px; /* Set the desired height of the scrollable section */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  }
  
  /* Optional styling for list items */
  .scrollable-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .scrollable-section li {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Optional: Add a border between list items */
  }
  
  /* Optional hover effect */
  .scrollable-section li:hover {
    background-color: #f0f0f0;
  }
  