@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width: 100%;
}

.display{
    margin-left: 55px;
    padding: 0px;
    width: 25%;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    /* max-width: 463px; */
    font-weight: bold;
    color: #333;
    border: 1px solid #ccc;
}


.wrapper {
    background-color: #2d4e5a;
    height: 200px;
    width: 200px;
    position: relative;
  }